version: '3.8'

services:
  db_b:
    image: postgres:15
    container_name: db_entreprise_b
    restart: always  # <-- DÉMARRAGE AUTOMATIQUE : Relance la DB si elle s'arrête ou après un reboot
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo_secure_b # Mot de passe propre à l'Entreprise B
    volumes:
      - odoo-db-data-b:/var/lib/postgresql/data # PERSISTANCE : Stocke les données de la DB sur mon disque
    networks:
      - network_b # ISOLATION : Place la DB dans un réseau privé pour l'Entreprise B

  web_b:
    image: odoo:19.0
    container_name: web_entreprise_b
    restart: always  # <-- DÉMARRAGE AUTOMATIQUE : Odoo réessaie de se lancer jusqu'à ce que la DB réponde
    depends_on:
      - db_b
    ports:
      - "9069:8069" # ACCÈS : Utilise le port 9069 sur mon PC pour ne pas entrer en conflit avec le 8069 de l'Entreprise A
    environment:
      - HOST=db_b
      - USER=odoo
      - PASSWORD=odoo_secure_b # Doit être identique au mot de passe de db_b
    volumes:
      - odoo-web-data-b:/var/lib/odoo # PERSISTANCE : Stocke tes documents Odoo (logos, images, factures)
    networks:
      - network_b # ISOLATION : Connecte Odoo au réseau privé de l'Entreprise B

networks:
  network_b: # DÉFINITION : Crée une barrière de sécurité (bulle) isolée pour cette entreprise
    driver: bridge

volumes:
  odoo-db-data-b: # Réservation de l'espace disque pour les données de la DB
  odoo-web-data-b: # Réservation de l'espace disque pour les fichiers Odoo