version: '3.8' # Version du format Docker Compose utilisé

services:
  db_a:
    # Nom du service pour la base de données
    image: postgres:15 # Utilise l'image officielle PostgreSQL version 15
    container_name: db_entreprise_a # Nom personnalisé du conteneur dans Docker/Portainer
    restart: always # <-- FORCE LE REDÉMARRAGE si le conteneur s'arrête ou si le PC redémarre
    environment:
      - POSTGRES_DB=postgres # Nom de la base de données créée par défaut
      - POSTGRES_USER=odoo # Nom de l'utilisateur administrateur de la base
      - POSTGRES_PASSWORD=odoo_secure_a # Mot de passe
    volumes:
      - odoo-db-data-a:/var/lib/postgresql/data # STOCKAGE PERSISTANT
    networks:
      - network_a # ISOLATION : Connecte la DB à une "bulle" privée pour l'Entreprise A

  web_a:
    # Nom du service pour l'application Odoo
    image: odoo:19.0 # Utilise la dernière version d'Odoo (v19)
    container_name: web_entreprise_a
    restart: always # <-- INDISPENSABLE pour le démarrage automatique
    depends_on:
      - db_a # Dit à Docker de lancer la base de données AVANT de lancer Odoo
    ports:
      - "8069:8069" # ACCÈS : Port standard pour Odoo Entreprise A
    environment:
      - HOST=db_a # Indique à Odoo l'adresse du serveur de base de données
      - USER=odoo
      - PASSWORD=odoo_secure_a
    volumes:
      - odoo-web-data-a:/var/lib/odoo # STOCKAGE PERSISTANT des documents
    networks:
      - network_a # ISOLATION réseau

  pgadmin_a:
    # AJOUT : Service de gestion de base de données visuel
    image: dpage/pgadmin4 # Image officielle pgAdmin
    container_name: pgadmin_entreprise_a
    restart: always # Redémarre automatiquement
    environment:
      - PGADMIN_DEFAULT_EMAIL=abdel.belmoufadal@gmail.com # Ton email pour te connecter à pgAdmin
      - PGADMIN_DEFAULT_PASSWORD=19451010 # Ton mot de passe pour ouvrir pgAdmin
    ports:
      - "5050:80" # ACCÈS : Tu ouvriras pgAdmin sur http://localhost:5050
    networks:
      - network_a # Permet à pgAdmin de "voir" la base db_a sur le même réseau

networks:
  network_a:
    # DÉFINITION du réseau privé (Bulle de sécurité pour l'Entreprise A)
    driver: bridge

volumes:
  # DÉFINITION des espaces de stockage sur mon disque dur
  odoo-db-data-a:
  odoo-web-data-a:
